	<script src="./chat.js"></script>
	<div id="content" style="width: 100%; height: 200px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div>

	<div class="controls">
		<input id="field" style="width:80%"/>
		<input id="send" type="button" value="send" style="width:10%"/>
	</div>

	<input id="other" type="button" value="press me"/>

	<input id="slider" type="range" min="0" max="100"/>
	<output id="slideroutput" for="slider">50</output>

	<div id="recievedInput" style="width: 100%; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;"></div>


